/* ======== IMPORTS ============== */

/* ======= REMOVE DEFAULTS ======= */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* ========== VAR ================ */

:root {
    --clr-blue-tr: hsl(207.95, 100%, 65.49%, 0.25);
    --clr-white-tr: hsl(0, 0%, 100%, 0.25);
    --clr-lite-pink: hsl(337.6, 74.26%, 80.2%, 0.5);
    --clr-accept: hsl(127.87, 48.8%, 50.98%, 0.8);
    --clr-cancel: hsl(0, 100%, 60.98%, 0.8);
    --trans: all 0.2s ease;
}

/* ======== BASE ============ */

body {
    background: hsl(208, 82.19%, 71.37%);
    background: linear-gradient(
        45deg,
        hsl(351.79, 100%, 81.37%) 0%,
        hsl(208, 82.19%, 90%) 100%
    );
    /* width: 100%;
    min-height: 100vh; */
    background-repeat: no-repeat;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* ========== MOBILE VIEW ======== */

.App {
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.empty {
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.note {
    background-color: var(--clr-white-tr);
    width: 100%;
    max-width: 28rem;
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    border-radius: 8px;
}

.title, .message, .save__edit {
    background-color: transparent;
    padding: 0.5rem;
    font-family: inherit;
    border: 0;
}

.title, .message {
    padding: 0.5rem 0.5rem;
}

.title {
    font-size: 1.4rem;
}

.message {
    font-size: 1rem;
    resize: none;
    height: auto;
    width: auto;
    display: block;
}

.save__edit {
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 0.5rem;
    display: flex;
    align-items: center;
}

.del {
    background-color: transparent;
    color: var(--clr-cancel);
    font-size: 1.2rem;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    align-items: center;
    border: 0;
}

/* =========== ADD BUTTON =========== */

.add {
    background-color: transparent;
    border: 0;
    font-size: 3.5rem;
    position: fixed;
    bottom: 0.5rem;
    right: 1.2rem;
}

/* ======= EDITOR ======= */

.editor {
    background-color: var(--clr-lite-pink);
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.editor.show {
    display: flex;
    transform: translateX(0%);
    transition: var(--trans);
}

.editor.hide {
    transform: translateX(100%);
    transition: var(--trans);
}

.input-title, .input-message {
    background-color: hsl(0, 0%, 100%, 0.8);
    font-family: inherit;
    width: 95%;
    max-width: 35rem;
    padding: 0.8rem 1rem;
    border: 0;
    border-radius: 8px;
}

.input-title {
    font-size: 1.5rem;
}

.input-message {
    font-size: 1rem;
    resize: none;
}

.button-container {
    display: flex;
    width: 80%;
    max-width: 35rem;
    /* gap: 2rem; */
    margin: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    border: 7px solid;
    border-radius: 50%;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.accept {
    color: var(--clr-accept);
}

.btn.cancel {
    height: 4.2rem;
    width: 4.2rem;
    color: var(--clr-cancel);
    font-size: 4.5rem;
    border: 0;
}

@media screen and (min-width: 1080px) {
    .App {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
}
