/* ======== IMPORTS ============== */

/* ======= REMOVE DEFAULTS ======= */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* ========== VAR ================ */

:root {
    --clr-blue-tr: hsl(207.95, 100%, 65.49%, 0.25);
}

/* ======== BASE ============ */

body {
    background: hsl(208, 82.19%, 71.37%);
    background: linear-gradient(
        45deg,
        hsl(207.93, 100%, 65%) 0%,
        hsl(208, 82.19%, 90%) 100%
    );
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* ========== MOBILE VIEW ======== */

.App {
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
}

.note {
    background-color: var(--clr-blue-tr);
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    border-radius: 8px;
}

.title, .message, .save__edit {
    background-color: transparent;
    padding: 0.5rem;
    font-family: inherit;
    border: 0;
}

.title, .message {
    padding: 0.5rem 0.5rem;
}

.title {
    font-size: 1.4rem;
}

.message {
    font-size: 1rem;
    resize: none;
    height: auto;
    width: auto;
    display: block;
}

.save__edit {
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 0.5rem;
    display: flex;
    align-items: center;
}